go 1.25.5

use (
	.
	./packages/crossplane/functions/function-agent-provider-json
	./packages/crossplane/functions/function-map-to-list
	./packages/crossplane/functions/function-memory-connection
	./packages/crossplane/functions/function-memory-sql
	./packages/crossplane/functions/function-orchestration-dag
	./packages/crossplane/functions/function-orchestration-status
	./services/eclair
	./services/facteur
	./services/miel
	./services/prt
	./services/saigak/proxy
	./services/tigresse
)
