@import 'tailwindcss';

* {
  scrollbar-color: #1f2937 transparent;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1f2937;
  border-radius: 9999px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
