<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <customFields>{"service":"graf"}</customFields>
      <providers>
        <timestamp>
          <timeZone>UTC</timeZone>
        </timestamp>
        <logLevel/>
        <threadName/>
        <loggerName/>
        <pattern>
          <pattern>
            {"message":"%replace(%message){'\u001B\[[;\d]*m',''}"}
          </pattern>
        </pattern>
        <mdc>
          <includeMdcKeyName>trace_id</includeMdcKeyName>
          <includeMdcKeyName>span_id</includeMdcKeyName>
          <includeMdcKeyName>request_id</includeMdcKeyName>
        </mdc>
        <arguments/>
        <stackTrace>
          <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
            <maxDepthPerThrowable>5</maxDepthPerThrowable>
          </throwableConverter>
        </stackTrace>
      </providers>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
