global
  log stdout format raw local0 info
  maxconn 1024

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5s
  timeout client 2h
  timeout server 2h
  timeout queue 2h
  timeout http-request 30s
  timeout http-keep-alive 1m

frontend registry
  bind :8080
  acl write_request method POST PUT PATCH DELETE
  use_backend registry_write if write_request
  default_backend registry_read

backend registry_write
  option http-server-close
  server registry 127.0.0.1:5000 maxconn 1 maxqueue 128 check

backend registry_read
  server registry 127.0.0.1:5000 maxconn 100 check
