global
  log stdout format raw local0
  maxconn 4096

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 5s
  timeout client  1m
  timeout server  1m

frontend k8s_api
  bind *:6443
  default_backend k8s_controlplanes

backend k8s_controlplanes
  balance roundrobin
  option tcp-check
  default-server inter 2s fall 3 rise 2

  # Update these to match your control plane nodes.
  server ryzen  192.168.1.194:6443 check
  server ampone 192.168.1.202:6443 check

